<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div ng-controller="calculatorController">
      <div class="row">
        <button type="button" class="btn btn-default" ng-click="showArea(area)" ng-repeat="area in constants">{{area.$desc}}</button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-default" ng-repeat="const in currentArea" ng-click="writeConstant(const)">{{const.desc}}</button>
      </div>
      <div class="row">
        <input readonly type="text" ng-model="input"> = {{result}}
      </div>
      <div class="row">
        <button type="button" class="btn btn-default" ng-click="writeOperation(op)" ng-repeat="op in operators">{{op}}</button>

      </div>
    </div>
  </div>

  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="factories/ConstantsFactory.js"></script>
  <script src="factories/OperatorsFactory.js"></script>
  <script src="controllers/CalculatorController.js"></script>
</body>
</html>
