<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div ng-controller="calculatorController">
      <div class="row">
        <button type="button" class="btn btn-default" ng-click="showArea(area)" ng-repeat="area in constants">{{area.$desc}}</button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-default" ng-repeat="const in currentArea" ng-click="writeConstant(const)">{{const.desc}}</button>
      </div>
      <div class="row">
        <input readonly type="text" ng-model="input"> = {{result}}
      </div>
      <div class="row">
        <button type="button" class="btn btn-default" ng-click="writeOperation(op)" ng-repeat="op in operators">{{op}}</button>

      </div>
    </div>
  </div>


  <div ng-view></div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="factories/ConstantsFactory.js"></script>
  <script src="factories/OperatorsFactory.js"></script>
  <script src="controllers/CalculatorController.js"></script>
</body>
</html>
